#result{
    display: none;
    background-color: whitesmoke;
    width : 80%;
    text-align: center;
    border-radius: 20px;
}

#shareResult{
    background-color: whitesmoke;
    width : 80%;
    text-align: center;
    border-radius: 20px;
}

.resultname{
     font-size: 20px;
}

.resultDesc{
    font-size: 18px;
}

.kakao{
    color: white;
    background-color: #FEE500;
    border: 0px;
    border-radius: 20px;
    font-size: 16px;
}

.kakao:hover, .kakao:focus{
    background-color: whitesmoke;
    color: #FEE500;
}

.goHome{
    background-color: rgb(184, 140, 181);
    border: 0px;
    border-radius: 20px;
    font-size: 16px;
}

.goHome:hover, .goHome:focus{
    background-color: rgb(138, 98, 135);
    color: whitesmoke;
}